<h2>Listing Ratings for <%= @hall.name %> </h2> 

<p>
  <%= link_to 'New Rating for ' + @hall.name, new_rating_path(hall_id: @hall.id) %>
</p>
<br>
<p>
  <b>Average Rating:</b>
  <%= @hall.score %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Rating.get_ratings.each do |rating| %>
  <tr>
    <td><%= rating.name %></td>
    <td><%= rating.score %></td>
    <td><%= rating.comment %></td>
  </tr>
<% end %>
</table>

<br />