<h2>Listing Ratings for 1920 Commons</h2> 

<p>
  <%= link_to 'New Rating For Commons', new_rating_path %>
</p>
<br>
<p>
  <b>Average Rating:</b>
  <%= @hall.score %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hall.ratings.each do |rating| %>
  <tr>
    <td><%= rating.name %></td>
    <td><%= rating.score %></td>
    <td><%= rating.comment %></td>
  </tr>
<% end %>
</table>

<br />