<%= form_for(@rating, html: {
class: "form-horizontal"
}) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :score, class:'control-label' %>
    <div class="controls">
      <label class="radio inline">
        <%= f.radio_button(:score, 1) %>
        <%= f.label(:score, "1") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 2) %>
        <%= f.label(:score, "2") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 3) %>
        <%= f.label(:score, "3") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 4) %>
        <%= f.label(:score, "4") %>
      </label>
      <label class="radio inline">
        <%= f.radio_button(:score, 5) %>
        <%= f.label(:score, "5") %>
      </label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, class:'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :comment, class:'control-label' %>
    <div class="controls">
      <%= f.text_area :comment %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :hall_id, class:'control-label' %>
    <div class="control">
      <%= f.collection_select :hall_id, Hall.all, :id, :name %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
